@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Mate+SC&display=swap");

/* colors 

Primary Color (Main Theme):
Hex Code: #2C2D34

Secondary Color (Supporting Theme):
Hex Code: #E94822

Accent Color (Highlight/Call-to-Action):
Hex Code: #F2910A

Alternative Color (Versatile Highlight):
Hex Code: #EFD510

*/


.title {
  font-family: "Cinzel", serif;
  color:white !important;
}

.navbar {
  background-color: #E94822;
}

.nav-link {
  color:  white !important;
  font-family: "Mate SC", serif;
  font-size: medium !important;
}


